<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>slave2-java</name>
  <description>java</description>
  <remoteFS>/home/ec2-user</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.834.v622da_57f702c">
    <host>54.189.209.50</host>
    <port>22</port>
    <credentialsId>ebccbd45-b6da-4720-9610-59556fe2d63c</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>labels2</label>
  <nodeProperties/>
</slave>